<mat-sidenav-container>
  <mat-sidenav mode='side' #sidenav opened>

    <div fxLayout="column" fxLayoutAlign="space-evenly center" id='mainNav'>
      <div id="logo">
        <img src="../assets/img/logoRespo.png">
      </div>
      <mat-nav-list>
        <a mat-list-item href='#'>Dashboard</a>
        <a mat-list-item href='#'>Companies</a>
        <a mat-list-item href='#'>Administrative</a>
        <mat-nav-list class='secondary-list-nav'>
          <a mat-list-item href='#' class='secondary-list'>Users</a>
          <a mat-list-item href='#' class='secondary-list'>User Access</a>
        </mat-nav-list>
        <a mat-list-item href='#'>Reports</a>
       </mat-nav-list>
    </div>

    <a href="#" id="logout"><p>Logout as Bank X</p></a>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-dashboard></app-dashboard>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
