
mat-sidenav-container{
    height:100%;
    

    mat-sidenav{
        background:#673ab7;
        width:220px;
        display: relative;

        #logo img{
            width:70px;
            height:70px;
            padding:5px;
            background-color:white;
            border-radius: 40px;
        }

        #mainNav{
            height:470px;
            width:100%;
            overflow-x: hidden;
            .mat-nav-list{
                width:100%;
                .mat-list-item{
                    font-size: 120%;
                    text-align: center;
                    color:white;
                    ::ng-deep{
                        .mat-list-item-content{
                            padding-left:40px;
                        }
                    }
                }
                .secondary-list-nav{
                    padding:0;
                    overflow: hidden;
                    height:50px;
                    .secondary-list{
                        font-size: 110%;
                        height: 30px;
                        ::ng-deep{
                            .mat-list-item-content{
                                padding-left:60px;
                            }
                        }
                    }
                }
                
            }
        }

        #logout p{
            color:white;
            font-size: 12px;
            width:70%;
            margin-left:15%;
            text-align: center;
            position: absolute;
            bottom:20px;
            transition: .2s ease-in-out;
        }
        
        #logout :hover{
            color:#FFD740;
        }

    }
    mat-sidenav-content{
        margin-left:20px;
        padding-right: 20px;

    }
}
